<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sp.foodplaces">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_square"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodPlaces">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGjTcUuWYaBPiTqWmHJuyjqn5PYT976kk"/>

        <activity android:name=".Favorite"></activity>
        <activity android:name=".Notification" />
        <activity
            android:name=".Directory"
            android:theme="@style/Theme.FoodPlaces.Full"/>
        <activity android:name=".Profile" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.FoodPlaces.Full" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileSettings" />
        <activity android:name=".Register"/>
        <activity android:name=".Login"/>
        activity android:name=".Test"/>
    </application>

</manifest>